*{
  font-family:Bahnschrift SemiBold;
}

.logo {
  height: 100px;
}

.avatar {
  height: 150px;
}

.imgproy {
  height: 75px;
  width: 75px;
  object-fit: cover;
}

.vizprev {
  background-color: #eee;
  border: 1px solid #888;
}

.eje {
  font-family: 'Bahnschrift SemiBold';
  font-weight: bold;
  font-size: 13px;
}
.ejeY {
  font-family: 'Bahnschrift SemiBold';
  font-weight: bold;
  font-size: 5px;
}
.titulo-grafica {
  font-family: 'Bahnschrift SemiBold';
  font-weight: bold;
  font-size: 20px;
}

p { 
  margin:0 ;
  font-family: 'Bahnschrift';
  font-size: 18px;
}






